<div class="auth-wrapper">
  <!-- [ reset-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <!-- <img
              src="assets/images/logo-dark.png"
              alt=""
              class="img-fluid mb-4"
            /> -->

            <form
              #userForm="ngForm"
              (ngSubmit)="userForm.form.valid && onSubmit()"
            >
              <h4 class="mb-3 f-w-400">Email Verification</h4>
              <div class="form-group mb-4">
                <input
                  type="email"
                  name="emailAddress"
                  class="form-control"
                  id="emailAddress"
                  placeholder="Enter Email"
                  [(ngModel)]="userEmail"
                  #emailAddress="ngModel"
                  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"

                  [ngClass]="{
                    'is-invalid': userForm.submitted && emailAddress.invalid
                  }"
                  required
                />
                <div
                  class="invalid-feedback text-left"
                  *ngIf="userForm.submitted && emailAddress.invalid"
                >
                  <p *ngIf="emailAddress.errors.required">Email is required</p>
                  <p *ngIf="emailAddress.errors.pattern">
                    Enter a valid email address
                  </p>
                </div>
              </div>

              <button type="submit" class="btn btn-block btn-primary mb-4">
                Verify email
              </button>
              <p class="mb-0 text-muted">
                back to login?
                <a
                  href="javascript:void(0)"
                  [routerLink]="['/auth/signin']"
                  class="f-w-400"
                  >login</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ reset-password ] end -->
</div>
