nav {
    background: white;
}

.header-nav {
    list-style: none;
    margin: 0px;
    li {
        float: left;
    }
}

a { 
    cursor: pointer;
}
.header-nav .nav-item a:hover {
    color: #4680ff !important;
}

.show-navigation {
    display: block !important;
    width: 100%;
    ul {
        margin-left: 12px;
    }
}