<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <form
              [appMatchPassword]="['password', 'cpassword']"
              #userForm="ngForm"
              (ngSubmit)="userForm.form.valid && onSubmit()"
            >
              <!-- <img
                src="assets/images/logo-dark.png"
                alt=""
                class="img-fluid mb-4"
              /> -->
              <h4 class="mb-4 f-w-400">Reset your password</h4>

              <div class="input-group mb-4">

                <input
                  [type]="hide ? 'password' : 'text'"
                  class="form-control p0"
                  id="pass"
                  aria-describedby="pass"
                  placeholder="Enter Password"
                  [(ngModel)]="changePassModel.password"
                  #password="ngModel"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && password.invalid
                  }"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                  name="password"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-default"
                    type="button"
                    (click)="hide = !hide"
                  >
                    <i class="fa fa-eye" *ngIf="hide"></i>
                    <i class="fa fa-eye-slash" *ngIf="!hide"></i>
                  </button>
                </div>
                <small class="text-info"
                  >A minimum 8 characters password contains a combination of
                  uppercase and lowercase letter and number are required.</small
                >

                <div
                  class="invalid-feedback"
                  *ngIf="userForm.submitted && password.invalid"
                >
                  <p *ngIf="password.errors.required">Password is required</p>
                  <p *ngIf="password.errors.pattern">
                    Password dose not meet requirement
                  </p>
                </div>
              </div>

              <div class="form-group mb-4">
                <input
                  type="password"
                  id="cpassword"
                  name="cpassword"
                  class="form-control"
                  placeholder="Confirm Password"
                  #cpassword="ngModel"
                  [(ngModel)]="changePassModel.confirmPassword"
                  [ngClass]="{
                    'is-invalid': userForm.submitted && cpassword.invalid
                  }"
                  required
                />
                <div
                  class="invalid-feedback"
                  *ngIf="userForm.submitted && cpassword.invalid"
                >
                  <p *ngIf="cpassword.errors.required">
                    Confirm Password is required
                  </p>
                </div>

                <div
                  class="invalid-feedback"
                  *ngIf="
                    cpassword.touched && cpassword.errors?.passwordMismatch
                  "
                >
                  Passwords does not match
                </div>
              </div>

              <button class="btn btn-block btn-primary mb-4">
                Reset password
              </button>
              <p class="mb-0 text-muted">
                back to login?
                <a
                  href="javascript:void(0)"
                  [routerLink]="['/auth/signin']"
                  class="f-w-400"
                  >login</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
