<header></header>
<section id="section1">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-12">
        <div class="mt-100 p-3 mt-sm-0">
          <h1>
            Wonder <br />
            Worry Free <br />
            With Us
          </h1>
          <br />
          <p class="font-18">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  
          </p>
          <br />
          <button class="btn btn-primary">
            Have a look
          </button>
        </div>
  
      </div>
      <div class="col-lg-8 text-right d-none d-lg-block d-xl-block d-md-block">
        <img width="600" src="../../../assets/images/one-section.png" />
      </div>
    </div>
  </div>
</section>
<section style="background: #F4F5F6;">
  <div class="container p-3">
    <div class="row pt-5">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="50" src="../../../assets/images/web.png" />
          <br />
          <h2>
            Web Design
          </h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="50" src="../../../assets/images/web.png" />
          <br />
          <h2>
            App Design
          </h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="50" src="../../../assets/images/web.png" />
          <br />
          <h2>
            Web Development
          </h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </p>
        </div>
      </div>
    </div> 
  </div>
</section>

<div class="updates">
  <div class="container text-center p-5">
    <h1>
      Don't miss our updates!
    </h1>
    <br/>
    <p class="font-18">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br />
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer <br/>took a galley of type and scrambled it to make a type specimen book.

    </p>
    <br/>
    <button class="btn btn-primary">
      Subscribe
    </button>
  </div>

</div>
<footer class=" p-3 text-right">
    <div class="container">
    
        <p class="m-0">
          @copyright 2020
        </p>
    
    </div>
</footer>