<header></header>
<section id="section1" class="text-center">
  <div class="container p-4">
    <h1>
      Services
    </h1>
    <br/>
   <div>
    <div class="row pt-2">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            Web Design
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            App Design
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            Web Development
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            Web Design
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            App Design
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card p-3">
          <img width="100%" src="../../../assets/images/nav-bg/body-bg-1.jpg" />
          <br />
          <h3>
            Web Development
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
          </p>
        </div>
      </div>
    </div> 
   </div>
  </div>
</section>

<footer class=" p-3 text-right">
  <div class="container">

    <p class="m-0">
      @copyright 2020
    </p>

  </div>
</footer>